body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

.app {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

input, textarea {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

textarea {
  min-height: 80px;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: #ff7a18;
  border: none;
  color: white;
  border-radius: 8px;
}

button:hover {
  background: #e56710;
}

#recipeList {
  margin-top: 15px;
  padding-left: 20px;
}

#recipeList button {
  width: auto;
  margin-left: 5px;
  padding: 3px 6px;
  font-size: 12px;
}
